extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{project.nombre}


        //- pre= vardump(project)
        form.agregar-tarea(action=`/proyectos/${project.url}` method="POST")
            .campo
                label(for="tarea") Tarea:
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre de Tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Agregar")

        //- pre= vardump(tareas)

        .listado-pendientes
            ul
                if tareas.length
                    each tarea in tareas
                        li.tarea(data-tarea=tarea.id) 
                            p= tarea.tarea
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else 
                    p No hay tareas en el proyect #{project.nombre}




        // Acciones que se pueden realizar
        .contenedor-acciones
            a(href=`/proyecto/editar/${project.id}` class="boton") Editar Proyecto
            button#eliminar-proyecto(data-project-url=project.url type="button" class="boton eliminar") Eliminar Proyecto